@import url("https://fonts.googleapis.com/css2?family=Poppins:wgth@200;400;600;&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #22254b;
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.root {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #373b69;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.header h1 {
    color: white;
    font-family: inherit;
    justify-content: flex-start;
}

.search {
    background-color: transparent;
    border: 2px solid #22254b;
    border-radius: 50px;
    color: white;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
}

.search:focus {
    outline: 0;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    overflow: hidden;
    position: relative;
    width: 300px;
}

.movie img {
    height: 450px;
    object-fit: cover;
    width: 100%;
}

.movie-info {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.movie-info h3 {
    margin: 0;
}

.movie-overview {
    background-color: #ffffff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    bottom: 0;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
    color: #22254b;
    left: 0;
    max-height: 100%;
    overflow: auto;
    padding: 1rem;
    position: absolute;
    right: 0;
    transform: translateY(102%);
    transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-overview {
    transform: translateY(0%);
}

.tag {
    background-color: #22254b;
    border-radius: 5px;
    font-weight: bold;
    padding: 0.5rem;
}

.tag.green {
    color: green;
}

.tag.orange {
    color: orange;
}

.tag.red {
    color: red;
}